body {
    background-color: forestgreen;
}

#content{
	width: 888px;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-radius: 25px;
    margin: 0 auto;
    padding: 40px;
    font-size: large;
}

#imageright{
    width: 200px;
	margin-left: 20px;
    border: 1px solid black;
    border-radius: 15px;
    float: right;
    background-color: wheat;
}

.kepjobb {
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
}

.kepbal {
    width: 300px;
    border: 1px solid black;
    border-radius: 15px;
}

#imageleft{
	margin-right: 40px;
    margin-bottom: 80px;
    border: 1px solid black;
    border-radius: 15px;
    float: left;
    width: 300px;
    background-color: wheat;
}

.kepszoveg{
	font-weight: bold;
    font-style: italic;
    text-align: center;
}

h1, h2 {
    color: forestgreen;
}

@media screen and (max-width: 600px) {
	#imageleft {
		float: none;
		margin: 0 auto;
		position: absolute;
	}
	#imageright {
		float: none;
		margin: 0 auto;
		position: absolute;
	}
	.kepjobb {
		width: 100%;
	}
	.kepbal {
		width: 100%;
	}
	#content {
		width: fit-content;
	}
}
